.box1 { background: #f1c40f;}
.box2 { background: #34495e;}
.box3 { background: #9b59b6;}
.box4 { background: #e74c3c;}
.box5 { background: #16a085;}

body {
  background: #263238;
}

h1 {
  font-family: 'Merienda', cursive;
  font-size: 5em;
  color: #fff;
  text-shadow: 5px 3px 2px #F4511E;
  width: 600px;
  margin: 0 auto;
}

.wrap {
  display: flex;
  /* border: solid 10px goldenrod; */
  justify-content: center;
  color: #fff;
  height: 30vh;
  align-items: baseline;
  /* width: 50vh; */
  /* flex-wrap: no-wrap; */
}

.box {
  font-family: 'Open Sans', sans-serif;
}

.box1 {
  font-size: 40px;
}

.box2 {
  font-size: 80px;
}

.box3 {
  font-size: 100px;
}

.box4 {
  font-size: 150px;
}

.box5 {
  font-size: 180px;
}

a {
  text-decoration: none;
  color: #fff;
}

footer {
  display: flex;
  /* border: solid 10px goldenrod; */
  height: 20vh;
  color: #fff;
  justify-content: center;
  align-items: baseline;
  padding-top: 5%;
}

i {
  color: red;
}

.box6 {
  font-size: 20px;
}